  <div class="container-fluid mt-5 about-style" id="aboutid">
       <div class="row">
           <div class="col-md-10 col-12 mx-auto">
               <h1 class="text-center main-heading">About Us</h1>
               <p class="text-center sub-heading">helping your business build and grow</p>
               <div class="row">
                     <div class="col-md-6 col-12 hero-text order-md-0 order-1">
                       <figure style="padding:20px 20px; padding-right:20px">
                           <img src="images/about.png" alt="about section image">
                       </figure>
                   </div>
                   {{!-- right side --}}
                   <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                       <h1>WE ARE PROFESSIONAL DEVELOPERS</h1>
                       <p>Welcome to <span class="bold-style"> MAN Technicals </span>, Your number #1 source for all things. We're dedicated in giving you the best of every service! </p>
                       <button class="btn-style btn -primary">Read More</button>
                   </div>
               </div>
           </div>
       </div>
   </div>